html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	font-family: "Lato";
}

h1 {
	font-family: "Lato";
	color: #e52952;
	font-size: 50pt;
	text-transform: uppercase;
}

h2 {
	font-family: "Lato";
	color: black;
	font-size: 28pt;
	letter-spacing: 2px;
}

a, a:visited {
	color: #e52952;
	text-decoration: none;
}

a:hover {
	color: #2eb4e9;

}

#white-greeting {
	color: white;
}

#blue-greeting {
	color: #2eb4e9;
}

#jennifer-picture {
	width: 150px;
	height: auto;
	border-radius: 50%;
	border: 5px solid white;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
	margin: 0;
}

p {
	line-height: 150%;
	font-size: 14pt;
	padding: 10px 0px;
}

i {
	color: black;
	opacity: 0.75;
	padding: 5px 5px;
}
 
#container {
	position: relative;
	height: 100%;
}
 
#content { 
	padding: 1.25em;
	height: 100%;
	position: relative;
}
 
#jennifer { 
	background-color: #ffe143;
	padding: 1.25em;
	height: 70%;
	position: relative;

}

#picture {
  position: absolute;
  text-align: center;
  top: 5em;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 2;	
}

#greeting {
  position: absolute;
  text-align: center;
  width: 25em;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 2;

}

#greeting2 {
  position: absolute;
  text-align: center;
  width: 25em;
  top: 60%;
  left: 50%;
  transform: translate(-49%, -49%);
  -webkit-transform: translate(-49%, -49%);
  z-index: 1;
}

#greeting3 {
  position: absolute;
  text-align: center;
  width: 25em;
  top: 60%;
  left: 50%;
  transform: translate(-51%, -51%);
  -webkit-transform: translate(-51%, -51%);
  z-index: 1;
}


#links {
  position: absolute;
  text-align: center;
  font-color: white;
  width: 25em;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 3;
}

#description {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -17.5em);
  -webkit-transform: translate(-50%, -17.5em);
  text-align: center;
}

@media screen and (min-width: 47.5em ) {
	#content {
		margin-left: 26em;
		position: relative;
		min-height: 30em;
		overflow: auto;
	}

	#jennifer {
		background-color: #ffe143;
		position: absolute;
		top: 0;
		left: 0;
		width: 26em;
		height: 100%;
		min-height: 30em;
		overflow: auto;
	}


	#greeting {
	  position: absolute;
	  text-align: center;
	  width: 25em;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  -webkit-transform: translate(-50%, -50%);
	  z-index: 2;

	}

	#greeting2 {
	  position: absolute;
	  text-align: center;
	  width: 25em;
	  top: 50%;
	  left: 50%;
	  transform: translate(-49%, -49%);
	  -webkit-transform: translate(-49%, -49%);
	  z-index: 1;
	}

	#greeting3 {
	  position: absolute;
	  text-align: center;
	  width: 25em;
	  top: 50%;
	  left: 50%;
	  transform: translate(-51%, -51%);
	  -webkit-transform: translate(-51%, -51%);
	  z-index: 1;
	}

	#picture {
	  position: absolute;
	  text-align: center;
	  top: 23%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  -webkit-transform: translate(-50%, -50%);
	  z-index: 2;	
	}

	#links {
		position: absolute;
		text-align: center;
		padding: 20px 20px;
		font-color: white;
		width: 25em;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);

	}

	#description {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  -webkit-transform: translate(-50%, -50%);
	  text-align: center;
	}

}