html, body {
	height: 100%;
	font-family: "Merriweather";
}

h1 {
	font-family: "Abril Fatface";
	color: #e52952;
	font-size: 50pt;
/*	text-transform: uppercase;
*/}

#white-greeting {
	color: white;
}

#blue-greeting {
	color: #2eb4e9;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
	margin: 0;
}

p {
	line-height: 150%;
}

i {
	color: #2eb4e9;
	padding: 5px 5px;
}
 
#container {
	position: relative;
	height: 100%;
}
 
#content { 
	padding: 1.25em;
	height: 100%;
	position: relative;

}
 
#jennifer { 
	background-color: #ffe143;
	padding: 1.25em;
	height: 50%;
	position: relative;
	z-index: -2;

}

#greeting {
  position: absolute;
  text-align: center;
  width: 25em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

#greeting2 {
  position: absolute;
  text-align: center;
  width: 25em;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -49%);
  -webkit-transform: translate(-49%, -49%);
  z-index: -1;
}

#greeting3 {
  position: absolute;
  text-align: center;
  width: 25em;
  top: 50%;
  left: 50%;
  transform: translate(-51%, -51%);
  -webkit-transform: translate(-51%, -51%);
  z-index: -1;
}


#links {
  position: absolute;
  text-align: center;
  font-color: white;
  width: 25em;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

#description {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -15em);
  -webkit-transform: translate(-50%, -15em);
  text-align: center;
}

@media screen and (min-width: 47.5em ) {
	#content {
		margin-left: 26em;
		position: relative;
		min-height: 30em;
		overflow: auto;
	}

	#jennifer {
		position: absolute;
		top: 0;
		left: 0;
		width: 26em;
		height: 100%;
		min-height: 30em;
		overflow: auto;
	}

	#links {
		position: absolute;
		text-align: center;
		padding: 20px 20px;
		font-color: white;
		width: 25em;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);

	}

	#description {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  -webkit-transform: translate(-50%, -50%);
	  text-align: center;
	}

}