html, body {
	height: 100%;
	font-family: "Merriweather";
}

h1 {
	font-family: "Abril Fatface";
	color: #e52952;
	font-size: 50pt;
/*	text-transform: uppercase;
*/}

#white-greeting {
	color: white;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
	margin: 0;
}

i {
	color: white;
	padding: 5px 5px;
}
 
#container {
	position: relative;
	height: 100%;
}
 
#content { 
	padding: 1.25em;
	height: 100%;

}
 
#jennifer { 
	background-color: #2eb4e9;
	padding: 1.25em;
	height: 50%;
	position: relative;
	z-index: -2;

}

#greeting {
  position: absolute;
  text-align: center;
  width: 25em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#greeting2 {
  position: absolute;
  text-align: center;
  width: 25em;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -49%);
  z-index: -1;
}

#links {
  position: absolute;
  text-align: center;
  font-color: white;
  width: 25em;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#description {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 47.5em ) {
	#content {
		margin-left: 26em;
	}

	#jennifer {
		position: absolute;
		top: 0;
		left: 0;
		width: 26em;
		height: 100%;
	}

	#links {
		position: absolute;
		text-align: center;
		font-color: white;
		width: 25em;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

}